<configuration>
  <system.diagnostics>
    <sources>
      <source name="Renci.SshNet" switchName="RenciSwitch">
        <listeners>
          <add name="consoleListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="RenciSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
